In [91]:
import numpy as np
import pandas as pd

# Cleaning Data

In [92]:
original_df = pd.read_excel('Original-River-Data.xlsx', usecols='A:I', skiprows=1)

### Data Exploration

In [93]:
original_df.head(20)

,Unnamed: 0,Crakehill,Skip Bridge,Westwick,Skelton,Arkengarthdale,East Cowton,Malham Tarn,Snaizeholme
0,1993-01-01,10.40,4.393,9.291,26.1,0.0,0,0.0,4.0
1,1993-01-02,9.95,4.239,8.622,24.86,0.0,0,0.8,0.0
2,1993-01-03,9.46,4.124,8.057,23.6,0.0,0,0.8,0.0
3,1993-01-04,9.41,4.363,7.925,23.47,2.4,24.8,0.8,61.6
4,1993-01-05,26.30,11.962,58.704,60.7,11.2,5.6,33.6,111.2
5,1993-01-06,32.10,10.237,34.416,98.01,0.0,0,1.6,0.8
6,1993-01-07,19.30,7.254,22.263,56.99,5.6,4,17.6,36.0
7,1993-01-08,22.00,7.266,29.587,56.66,1.6,0,1.6,2.4
8,1993-01-09,35.50,8.153,60.253,78.1,14.4,0.8,55.2,104.8
9,1993-01-10,51.00,13.276,93.951,125.7,20.8,2.4,76.0,136.8
10,1993-01-11,65.50,25.561,69.503,195.9,10.4,16,12.0,28.0
11,1993-01-12,32.00,20.715,40.514,125.4,7.2,4,0.8,24.0
12,1993-01-13,64.30,36.54,106.753,161.5,39.2,8.8,82.8,118.0
13,1993-01-14,69.10,28.457,60.325,204,5.6,1.6,8.0,12.8
14,1993-01-15,94.60,33.761,142.159,200.6,36.0,12,72.0,72.0
15,1993-01-16,99.00,38.484,77.439,234.4,8.8,2.4,7.2,40.0
16,1993-01-17,58.20,21.022,57.103,160.1,6.4,0.8,0.0,21.6
17,1993-01-18,34.10,15.191,42.697,104.1,16.8,2.4,44.0,103.2
18,1993-01-19,59.80,16.456,79.028,136.4,7.2,0,34.4,86.4
19,1993-01-20,48.00,18.587,70.190,137.1,6.4,0,19.2,26.4

In [94]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1461 non-null   datetime64[ns]
 1   Crakehill       1461 non-null   float64
 2   Skip Bridge     1461 non-null   object
 3   Westwick        1461 non-null   float64
 4   Skelton         1461 non-null   object
 5   Arkengarthdale  1461 non-null   float64
 6   East Cowton     1461 non-null   object
 7   Malham Tarn     1461 non-null   float64
 8   Snaizeholme     1461 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 102.9+ KB

In [95]:
river_data = original_df.copy()
river_data.head(10)

,Unnamed: 0,Crakehill,Skip Bridge,Westwick,Skelton,Arkengarthdale,East Cowton,Malham Tarn,Snaizeholme
0,1993-01-01,10.40,4.393,9.291,26.1,0.0,0,0.0,4.0
1,1993-01-02,9.95,4.239,8.622,24.86,0.0,0,0.8,0.0
2,1993-01-03,9.46,4.124,8.057,23.6,0.0,0,0.8,0.0
3,1993-01-04,9.41,4.363,7.925,23.47,2.4,24.8,0.8,61.6
4,1993-01-05,26.30,11.962,58.704,60.7,11.2,5.6,33.6,111.2
5,1993-01-06,32.10,10.237,34.416,98.01,0.0,0,1.6,0.8
6,1993-01-07,19.30,7.254,22.263,56.99,5.6,4,17.6,36.0
7,1993-01-08,22.00,7.266,29.587,56.66,1.6,0,1.6,2.4
8,1993-01-09,35.50,8.153,60.253,78.1,14.4,0.8,55.2,104.8
9,1993-01-10,51.00,13.276,93.951,125.7,20.8,2.4,76.0,136.8

In [96]:
# Renaming Headers

new_columns = {'Unnamed: 0': 'Date'}
new_columns.update({col: f"{col} MDF (Cumecs)" for col in river_data.columns[1:5]})
new_columns.update({col: f"{col} DRT (mm)" for col in river_data.columns[5:]})

river_data.rename(
    columns=new_columns, 
    inplace=True
)
river_data.head()

,Date,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
0,1993-01-01,10.40,4.393,9.291,26.1,0.0,0,0.0,4.0
1,1993-01-02,9.95,4.239,8.622,24.86,0.0,0,0.8,0.0
2,1993-01-03,9.46,4.124,8.057,23.6,0.0,0,0.8,0.0
3,1993-01-04,9.41,4.363,7.925,23.47,2.4,24.8,0.8,61.6
4,1993-01-05,26.30,11.962,58.704,60.7,11.2,5.6,33.6,111.2

##### MDF - Mean Daily Flow
##### DRT - Daily Rainfall Total

In [97]:
river_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      1461 non-null   datetime64[ns]
 1   Crakehill MDF (Cumecs)    1461 non-null   float64
 2   Skip Bridge MDF (Cumecs)  1461 non-null   object
 3   Westwick MDF (Cumecs)     1461 non-null   float64
 4   Skelton MDF (Cumecs)      1461 non-null   object
 5   Arkengarthdale DRT (mm)   1461 non-null   float64
 6   East Cowton DRT (mm)      1461 non-null   object
 7   Malham Tarn DRT (mm)      1461 non-null   float64
 8   Snaizeholme DRT (mm)      1461 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 102.9+ KB

In [98]:
# Converting to non-numeric columns to numeric columns
river_data['Skip Bridge MDF (Cumecs)'] = pd.to_numeric(river_data['Skip Bridge MDF (Cumecs)'], errors='coerce')
river_data['Skelton MDF (Cumecs)'] = pd.to_numeric(river_data['Skelton MDF (Cumecs)'], errors='coerce')
river_data['East Cowton DRT (mm)'] = pd.to_numeric(river_data['East Cowton DRT (mm)'], errors='coerce')
river_data['Date'] = pd.to_datetime(river_data['Date'], errors='coerce')
river_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      1461 non-null   datetime64[ns]
 1   Crakehill MDF (Cumecs)    1461 non-null   float64
 2   Skip Bridge MDF (Cumecs)  1460 non-null   float64
 3   Westwick MDF (Cumecs)     1461 non-null   float64
 4   Skelton MDF (Cumecs)      1460 non-null   float64
 5   Arkengarthdale DRT (mm)   1461 non-null   float64
 6   East Cowton DRT (mm)      1460 non-null   float64
 7   Malham Tarn DRT (mm)      1461 non-null   float64
 8   Snaizeholme DRT (mm)      1461 non-null   float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 102.9 KB

In [99]:
river_data.isna().sum()

Date                        0
Crakehill MDF (Cumecs)      0
Skip Bridge MDF (Cumecs)    1
Westwick MDF (Cumecs)       0
Skelton MDF (Cumecs)        1
Arkengarthdale DRT (mm)     0
East Cowton DRT (mm)        1
Malham Tarn DRT (mm)        0
Snaizeholme DRT (mm)        0
dtype: int64

In [100]:
river_data.describe()

,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
count,1461.000000,1460.000000,1461.00000,1460.000000,1461.000000,1460.000000,1461.000000,1461.000000
mean,17.519213,6.929692,21.59704,47.093886,8.519233,11.466301,68.896920,9.725394
std,52.587125,28.182097,28.35579,55.712853,133.950452,235.722765,2092.760651,20.984849
min,-999.000000,-999.000000,1.95400,3.694000,-999.000000,0.000000,0.000000,0.000000
25%,5.220000,2.166000,5.67300,12.442500,0.000000,0.000000,0.000000,0.000000
50%,10.100000,3.494500,10.39100,24.260000,0.800000,0.000000,1.600000,0.800000
75%,21.900000,8.892250,26.73600,59.357500,6.400000,5.600000,18.400000,10.400000
max,220.000000,80.244000,374.06100,448.100000,5000.000000,9000.000000,80000.000000,268.800000

### Removing Outliers and Null Values

In [101]:
# Dropping nulll values
flow_cols = list(river_data.columns[1:5])
rain_cols = list(river_data.columns[5:])

null_values = river_data.isna().any(axis=1)
river_data[null_values] # Rows with at least 1 null value

,Date,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
96,1993-04-07,22.9,4.159,26.603,NaN,2.4,0.0,0.0,3.2
789,1995-03-01,80.6,19.096,100.761,174.00,17.6,NaN,51.2,21.6
1134,1996-02-09,12.7,NaN,7.576,20.58,0.0,37.6,12.0,14.4

In [102]:
river_data.dropna(how="any", inplace=True)
river_data[null_values]

/Users/bhekimaenetja/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Empty DataFrame
Columns: [Date, Crakehill MDF (Cumecs), Skip Bridge MDF (Cumecs), Westwick MDF (Cumecs), Skelton MDF (Cumecs), Arkengarthdale DRT (mm), East Cowton DRT (mm), Malham Tarn DRT (mm), Snaizeholme DRT (mm)]
Index: []

In [103]:
# Replacing negative values
river_data[(river_data[flow_cols + rain_cols] < 0).any(1)] # replace all negative values with zero

,Date,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
43,1993-02-13,-999.00,5.476,11.051,30.73,0.0,0.0,0.0,0.0
73,1993-03-15,-999.00,2.546,7.179,18.06,11.2,0.0,86.0,19.2
74,1993-03-16,-999.00,2.494,7.232,17.16,0.8,0.0,12.8,8.0
116,1993-04-27,24.40,11.684,22.181,73.96,-999.0,0.0,0.0,0.0
1203,1996-04-18,7.61,-999.000,13.918,16.84,0.8,4.8,47.2,32.0

In [104]:
river_data[flow_cols+rain_cols] = river_data[flow_cols+rain_cols].where((river_data[flow_cols+rain_cols] > -1), 0)
river_data[(river_data[flow_cols + rain_cols] < 0).any(1)]

Empty DataFrame
Columns: [Date, Crakehill MDF (Cumecs), Skip Bridge MDF (Cumecs), Westwick MDF (Cumecs), Skelton MDF (Cumecs), Arkengarthdale DRT (mm), East Cowton DRT (mm), Malham Tarn DRT (mm), Snaizeholme DRT (mm)]
Index: []

In [105]:
# Dropping rows with rainfall outliers
rainfall_outliers = river_data[(river_data[rain_cols] > 400).any(1)]
rainfall_outliers

,Date,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
771,1995-02-11,65.0,31.496,108.575,136.70,5000.0,15.2,108.4,80.8
788,1995-02-28,44.6,11.563,52.105,93.91,19.2,9000.0,46.4,47.2
1104,1996-01-10,32.4,10.548,30.086,84.33,0.8,0.0,80000.0,0.8

In [106]:
river_data.drop(rainfall_outliers.index, inplace=True)
river_data[(river_data[rain_cols] > 400).any(1)] # drop rows that have rainfall outliers

Empty DataFrame
Columns: [Date, Crakehill MDF (Cumecs), Skip Bridge MDF (Cumecs), Westwick MDF (Cumecs), Skelton MDF (Cumecs), Arkengarthdale DRT (mm), East Cowton DRT (mm), Malham Tarn DRT (mm), Snaizeholme DRT (mm)]
Index: []

In [107]:
# Dropping rows with river flow outliers
river_flow_outliers = river_data[(river_data[flow_cols] == 0).any(1)]
river_flow_outliers

,Date,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
43,1993-02-13,0.00,5.476,11.051,30.73,0.0,0.0,0.0,0.0
73,1993-03-15,0.00,2.546,7.179,18.06,11.2,0.0,86.0,19.2
74,1993-03-16,0.00,2.494,7.232,17.16,0.8,0.0,12.8,8.0
1203,1996-04-18,7.61,0.000,13.918,16.84,0.8,4.8,47.2,32.0

In [108]:
river_data.drop(river_flow_outliers.index, inplace=True)
river_data[(river_data[flow_cols] == 0).any(1)]

Empty DataFrame
Columns: [Date, Crakehill MDF (Cumecs), Skip Bridge MDF (Cumecs), Westwick MDF (Cumecs), Skelton MDF (Cumecs), Arkengarthdale DRT (mm), East Cowton DRT (mm), Malham Tarn DRT (mm), Snaizeholme DRT (mm)]
Index: []

In [109]:
river_data.describe()

,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
count,1451.000000,1451.000000,1451.000000,1451.000000,1451.000000,1451.000000,1451.000000,1451.000000
mean,19.522233,7.600946,21.494272,46.977784,5.784149,5.295107,13.986492,9.635837
std,25.249077,10.013759,28.263025,55.691669,13.262708,12.296973,25.045850,20.934958
min,2.060000,1.002000,1.954000,3.694000,0.000000,0.000000,0.000000,0.000000
25%,5.240000,2.158500,5.632500,12.385000,0.000000,0.000000,0.000000,0.000000
50%,10.100000,3.492000,10.379000,24.250000,0.800000,0.000000,1.600000,0.800000
75%,21.750000,8.833000,26.652000,59.150000,6.400000,5.600000,18.400000,10.400000
max,220.000000,80.244000,374.061000,448.100000,225.200000,165.600000,252.000000,268.800000

### Exporting Cleaned Data Set

In [113]:
export_data = river_data.copy()
export_data["Date"] = export_data["Date"].astype("string")
export_data.to_excel('River-Data-Cleaned.xlsx')

# Standardisation, Lagging and Splitting

In [174]:
clean_df = pd.read_excel('River-Data-Cleaned.xlsx')
clean_df.drop(["Unnamed: 0"], axis=1, inplace=True)
clean_df.head(20)

,Date,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
0,1993-01-01,10.40,4.393,9.291,26.10,0.0,0.0,0.0,4.0
1,1993-01-02,9.95,4.239,8.622,24.86,0.0,0.0,0.8,0.0
2,1993-01-03,9.46,4.124,8.057,23.60,0.0,0.0,0.8,0.0
3,1993-01-04,9.41,4.363,7.925,23.47,2.4,24.8,0.8,61.6
4,1993-01-05,26.30,11.962,58.704,60.70,11.2,5.6,33.6,111.2
5,1993-01-06,32.10,10.237,34.416,98.01,0.0,0.0,1.6,0.8
6,1993-01-07,19.30,7.254,22.263,56.99,5.6,4.0,17.6,36.0
7,1993-01-08,22.00,7.266,29.587,56.66,1.6,0.0,1.6,2.4
8,1993-01-09,35.50,8.153,60.253,78.10,14.4,0.8,55.2,104.8
9,1993-01-10,51.00,13.276,93.951,125.70,20.8,2.4,76.0,136.8
10,1993-01-11,65.50,25.561,69.503,195.90,10.4,16.0,12.0,28.0
11,1993-01-12,32.00,20.715,40.514,125.40,7.2,4.0,0.8,24.0
12,1993-01-13,64.30,36.540,106.753,161.50,39.2,8.8,82.8,118.0
13,1993-01-14,69.10,28.457,60.325,204.00,5.6,1.6,8.0,12.8
14,1993-01-15,94.60,33.761,142.159,200.60,36.0,12.0,72.0,72.0
15,1993-01-16,99.00,38.484,77.439,234.40,8.8,2.4,7.2,40.0
16,1993-01-17,58.20,21.022,57.103,160.10,6.4,0.8,0.0,21.6
17,1993-01-18,34.10,15.191,42.697,104.10,16.8,2.4,44.0,103.2
18,1993-01-19,59.80,16.456,79.028,136.40,7.2,0.0,34.4,86.4
19,1993-01-20,48.00,18.587,70.190,137.10,6.4,0.0,19.2,26.4

In [175]:
clean_df.describe()

,Crakehill MDF (Cumecs),Skip Bridge MDF (Cumecs),Westwick MDF (Cumecs),Skelton MDF (Cumecs),Arkengarthdale DRT (mm),East Cowton DRT (mm),Malham Tarn DRT (mm),Snaizeholme DRT (mm)
count,1451.000000,1451.000000,1451.000000,1451.000000,1451.000000,1451.000000,1451.000000,1451.000000
mean,19.522233,7.600946,21.494272,46.977784,5.784149,5.295107,13.986492,9.635837
std,25.249077,10.013759,28.263025,55.691669,13.262708,12.296973,25.045850,20.934958
min,2.060000,1.002000,1.954000,3.694000,0.000000,0.000000,0.000000,0.000000
25%,5.240000,2.158500,5.632500,12.385000,0.000000,0.000000,0.000000,0.000000
50%,10.100000,3.492000,10.379000,24.250000,0.800000,0.000000,1.600000,0.800000
75%,21.750000,8.833000,26.652000,59.150000,6.400000,5.600000,18.400000,10.400000
max,220.000000,80.244000,374.061000,448.100000,225.200000,165.600000,252.000000,268.800000

In [176]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1451 entries, 0 to 1450
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      1451 non-null   object
 1   Crakehill MDF (Cumecs)    1451 non-null   float64
 2   Skip Bridge MDF (Cumecs)  1451 non-null   float64
 3   Westwick MDF (Cumecs)     1451 non-null   float64
 4   Skelton MDF (Cumecs)      1451 non-null   float64
 5   Arkengarthdale DRT (mm)   1451 non-null   float64
 6   East Cowton DRT (mm)      1451 non-null   float64
 7   Malham Tarn DRT (mm)      1451 non-null   float64
 8   Snaizeholme DRT (mm)      1451 non-null   float64
dtypes: float64(8), object(1)
memory usage: 102.1+ KB

In [180]:
# Function for standardising and unstandardising columns
def standardise_columns(df, cols):
    subset_df = df[cols]
    subset_df = 0.8 * ((subset_df - subset_df.min()) / (subset_df.max() - subset_df.min())) + 0.1
    return subset_df

def unstandardise_columns(df, cols, max_val, min_val):
    subset_df = df[cols]
    subset_df = ((subset_df - subset_df.min()) / 0.8) * (max_val - min_val) + min_val
    return subset_df

### Lagging Data

In [221]:
lagged_df = pd.DataFrame()
lagged_df["Date"] = clean_df["Date"]
lagged_df[flow_cols[-1]] = clean_df[flow_cols[-1]]
lagged_df.head(20)

          Date  Skelton MDF (Cumecs)
0   1993-01-01                 26.10
1   1993-01-02                 24.86
2   1993-01-03                 23.60
3   1993-01-04                 23.47
4   1993-01-05                 60.70
5   1993-01-06                 98.01
6   1993-01-07                 56.99
7   1993-01-08                 56.66
8   1993-01-09                 78.10
9   1993-01-10                125.70
10  1993-01-11                195.90
11  1993-01-12                125.40
12  1993-01-13                161.50
13  1993-01-14                204.00
14  1993-01-15                200.60
15  1993-01-16                234.40
16  1993-01-17                160.10
17  1993-01-18                104.10
18  1993-01-19                136.40
19  1993-01-20                137.10

In [222]:
# Lagging rainfall and flow columns by 1 to 3 days
for i in range(3):
    for col in flow_cols:
        col_name = col.replace("(Cumecs)", f"(t-{i+1})")
        lagged_df[col_name] = clean_df[col].shift(i+1)

for i in range(3):
    for col in rain_cols:
        col_name = col.replace("(mm)", f"(t-{i+1})")
        lagged_df[col_name] = clean_df[col].shift(i+1)

lagged_df.head(20)

,Date,Skelton MDF (Cumecs),Crakehill MDF (t-1),Skip Bridge MDF (t-1),Westwick MDF (t-1),Skelton MDF (t-1),Crakehill MDF (t-2),Skip Bridge MDF (t-2),Westwick MDF (t-2),Skelton MDF (t-2),...,Malham Tarn DRT (t-1),Snaizeholme DRT (t-1),Arkengarthdale DRT (t-2),East Cowton DRT (t-2),Malham Tarn DRT (t-2),Snaizeholme DRT (t-2),Arkengarthdale DRT (t-3),East Cowton DRT (t-3),Malham Tarn DRT (t-3),Snaizeholme DRT (t-3)
0,1993-01-01,26.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-01-02,24.86,10.40,4.393,9.291,26.10,NaN,NaN,NaN,NaN,...,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-01-03,23.60,9.95,4.239,8.622,24.86,10.40,4.393,9.291,26.10,...,0.8,0.0,0.0,0.0,0.0,4.0,NaN,NaN,NaN,NaN
3,1993-01-04,23.47,9.46,4.124,8.057,23.60,9.95,4.239,8.622,24.86,...,0.8,0.0,0.0,0.0,0.8,0.0,0.0,0.0,0.0,4.0
4,1993-01-05,60.70,9.41,4.363,7.925,23.47,9.46,4.124,8.057,23.60,...,0.8,61.6,0.0,0.0,0.8,0.0,0.0,0.0,0.8,0.0
5,1993-01-06,98.01,26.30,11.962,58.704,60.70,9.41,4.363,7.925,23.47,...,33.6,111.2,2.4,24.8,0.8,61.6,0.0,0.0,0.8,0.0
6,1993-01-07,56.99,32.10,10.237,34.416,98.01,26.30,11.962,58.704,60.70,...,1.6,0.8,11.2,5.6,33.6,111.2,2.4,24.8,0.8,61.6
7,1993-01-08,56.66,19.30,7.254,22.263,56.99,32.10,10.237,34.416,98.01,...,17.6,36.0,0.0,0.0,1.6,0.8,11.2,5.6,33.6,111.2
8,1993-01-09,78.10,22.00,7.266,29.587,56.66,19.30,7.254,22.263,56.99,...,1.6,2.4,5.6,4.0,17.6,36.0,0.0,0.0,1.6,0.8
9,1993-01-10,125.70,35.50,8.153,60.253,78.10,22.00,7.266,29.587,56.66,...,55.2,104.8,1.6,0.0,1.6,2.4,5.6,4.0,17.6,36.0
10,1993-01-11,195.90,51.00,13.276,93.951,125.70,35.50,8.153,60.253,78.10,...,76.0,136.8,14.4,0.8,55.2,104.8,1.6,0.0,1.6,2.4
11,1993-01-12,125.40,65.50,25.561,69.503,195.90,51.00,13.276,93.951,125.70,...,12.0,28.0,20.8,2.4,76.0,136.8,14.4,0.8,55.2,104.8
12,1993-01-13,161.50,32.00,20.715,40.514,125.40,65.50,25.561,69.503,195.90,...,0.8,24.0,10.4,16.0,12.0,28.0,20.8,2.4,76.0,136.8
13,1993-01-14,204.00,64.30,36.540,106.753,161.50,32.00,20.715,40.514,125.40,...,82.8,118.0,7.2,4.0,0.8,24.0,10.4,16.0,12.0,28.0
14,1993-01-15,200.60,69.10,28.457,60.325,204.00,64.30,36.540,106.753,161.50,...,8.0,12.8,39.2,8.8,82.8,118.0,7.2,4.0,0.8,24.0
15,1993-01-16,234.40,94.60,33.761,142.159,200.60,69.10,28.457,60.325,204.00,...,72.0,72.0,5.6,1.6,8.0,12.8,39.2,8.8,82.8,118.0
16,1993-01-17,160.10,99.00,38.484,77.439,234.40,94.60,33.761,142.159,200.60,...,7.2,40.0,36.0,12.0,72.0,72.0,5.6,1.6,8.0,12.8
17,1993-01-18,104.10,58.20,21.022,57.103,160.10,99.00,38.484,77.439,234.40,...,0.0,21.6,8.8,2.4,7.2,40.0,36.0,12.0,72.0,72.0
18,1993-01-19,136.40,34.10,15.191,42.697,104.10,58.20,21.022,57.103,160.10,...,44.0,103.2,6.4,0.8,0.0,21.6,8.8,2.4,7.2,40.0
19,1993-01-20,137.10,59.80,16.456,79.028,136.40,34.10,15.191,42.697,104.10,...,34.4,86.4,16.8,2.4,44.0,103.2,6.4,0.8,0.0,21.6

In [223]:
# Correlations between lagged columns
lagged_df.corr()

,Skelton MDF (Cumecs),Crakehill MDF (t-1),Skip Bridge MDF (t-1),Westwick MDF (t-1),Skelton MDF (t-1),Crakehill MDF (t-2),Skip Bridge MDF (t-2),Westwick MDF (t-2),Skelton MDF (t-2),Crakehill MDF (t-3),...,Malham Tarn DRT (t-1),Snaizeholme DRT (t-1),Arkengarthdale DRT (t-2),East Cowton DRT (t-2),Malham Tarn DRT (t-2),Snaizeholme DRT (t-2),Arkengarthdale DRT (t-3),East Cowton DRT (t-3),Malham Tarn DRT (t-3),Snaizeholme DRT (t-3)
Skelton MDF (Cumecs),1.000000,0.881752,0.881944,0.908287,0.886878,0.723829,0.732830,0.731264,0.749477,0.626238,...,0.489000,0.577851,0.407372,0.250530,0.404737,0.480735,0.317296,0.187745,0.333385,0.385910
Crakehill MDF (t-1),0.881752,1.000000,0.930827,0.899135,0.972890,0.817739,0.805517,0.856354,0.798990,0.636757,...,0.306172,0.364734,0.533147,0.388672,0.484966,0.586026,0.366427,0.231089,0.356624,0.426056
Skip Bridge MDF (t-1),0.881944,0.930827,1.000000,0.865032,0.948227,0.805629,0.861204,0.825034,0.814771,0.661861,...,0.324782,0.363945,0.485849,0.328659,0.434301,0.502084,0.397495,0.230546,0.360419,0.410911
Westwick MDF (t-1),0.908287,0.899135,0.865032,1.000000,0.886743,0.665608,0.676689,0.740998,0.689073,0.559045,...,0.480368,0.555791,0.473601,0.263720,0.501717,0.602304,0.300092,0.158808,0.332633,0.367421
Skelton MDF (t-1),0.886878,0.972890,0.948227,0.886743,1.000000,0.881751,0.881943,0.908290,0.886878,0.723827,...,0.292292,0.343805,0.505105,0.340767,0.488990,0.577844,0.407362,0.250528,0.404731,0.480728
Crakehill MDF (t-2),0.723829,0.817739,0.805629,0.665608,0.881751,1.000000,0.930826,0.899136,0.972892,0.817739,...,0.164204,0.200821,0.330429,0.238076,0.306152,0.364719,0.533138,0.388671,0.484965,0.586023
Skip Bridge MDF (t-2),0.732830,0.805517,0.861204,0.676689,0.881943,0.930826,1.000000,0.865033,0.948228,0.805629,...,0.159569,0.185451,0.370347,0.256995,0.324764,0.363930,0.485840,0.328657,0.434296,0.502076
Westwick MDF (t-2),0.731264,0.856354,0.825034,0.740998,0.908290,0.899136,0.865033,1.000000,0.886739,0.665591,...,0.176608,0.194085,0.472362,0.293623,0.480338,0.555769,0.473583,0.263719,0.501684,0.602280
Skelton MDF (t-2),0.749477,0.798990,0.814771,0.689073,0.886878,0.972892,0.948228,0.886739,1.000000,0.881747,...,0.183922,0.225514,0.296278,0.183452,0.292256,0.343778,0.505090,0.340767,0.488964,0.577824
Crakehill MDF (t-3),0.626238,0.636757,0.661861,0.559045,0.723827,0.817739,0.805629,0.665591,0.881747,1.000000,...,0.137964,0.193110,0.147801,0.060246,0.164147,0.200777,0.330403,0.238075,0.306081,0.364666
Skip Bridge MDF (t-3),0.642430,0.639307,0.704072,0.573698,0.732826,0.805514,0.861204,0.676676,0.881938,0.930824,...,0.146357,0.191920,0.160378,0.052865,0.159525,0.185417,0.370328,0.256993,0.324717,0.363892
Westwick MDF (t-3),0.628914,0.634797,0.665062,0.556099,0.731267,0.856360,0.825039,0.740984,0.908289,0.899129,...,0.160123,0.205529,0.166244,0.064786,0.176543,0.194034,0.472341,0.293625,0.480277,0.555726
Skelton MDF (t-3),0.664090,0.653159,0.692249,0.597813,0.749478,0.798992,0.814773,0.689056,0.886875,0.972890,...,0.151492,0.209728,0.164076,0.054977,0.183862,0.225468,0.296250,0.183450,0.292175,0.343718
Arkengarthdale DRT (t-1),0.505003,0.330340,0.370257,0.472212,0.296161,0.147675,0.160277,0.166096,0.163939,0.124829,...,0.595775,0.634523,0.244472,0.132689,0.165415,0.181599,0.166008,0.038866,0.155101,0.124340
East Cowton DRT (t-1),0.340755,0.238064,0.256983,0.293599,0.183434,0.060225,0.052850,0.064762,0.054956,0.016882,...,0.439169,0.423664,0.171022,0.171895,0.131940,0.142128,0.091740,0.080860,0.076009,0.049961
Malham Tarn DRT (t-1),0.489000,0.306172,0.324782,0.480368,0.292292,0.164204,0.159569,0.176608,0.183922,0.137964,...,1.000000,0.687900,0.108295,0.070440,0.258268,0.190943,0.115694,0.065609,0.216500,0.138491
Snaizeholme DRT (t-1),0.577851,0.364734,0.363945,0.555791,0.343805,0.200821,0.185451,0.194085,0.225514,0.193110,...,0.687900,1.000000,0.109856,0.061722,0.169394,0.270977,0.114134,0.059020,0.165377,0.205278
Arkengarthdale DRT (t-2),0.407372,0.533147,0.485849,0.473601,0.505105,0.330429,0.370347,0.472362,0.296278,0.147801,...,0.108295,0.109856,1.000000,0.600332,0.595978,0.634699,0.244570,0.132717,0.165653,0.181782
East Cowton DRT (t-2),0.250530,0.388672,0.328659,0.263720,0.340767,0.238076,0.256995,0.293623,0.183452,0.060246,...,0.070440,0.061722,0.600332,1.000000,0.439208,0.423692,0.171037,0.171898,0.131989,0.142164
Malham Tarn DRT (t-2),0.404737,0.484966,0.434301,0.501717,0.488990,0.306152,0.324764,0.480338,0.292256,0.164147,...,0.258268,0.169394,0.595978,0.439208,1.000000,0.687882,0.108256,0.070433,0.258177,0.190865
Snaizeholme DRT (t-2),0.480735,0.586026,0.502084,0.602304,0.577844,0.364719,0.363930,0.555769,0.343778,0.200777,...,0.190943,0.270977,0.634699,0.423692,0.687882,1.000000,0.109824,0.061716,0.169313,0.270922
Arkengarthdale DRT (t-3),0.317296,0.366427,0.397495,0.300092,0.407362,0.533138,0.485840,0.473583,0.505090,0.330403,...,0.115694,0.114134,0.244570,0.171037,0.108256,0.109824,1.000000,0.600334,0.595975,0.634689
East Cowton DRT (t-3),0.187745,0.231089,0.230546,0.158808,0.250528,0.388671,0.328657,0.263719,0.340767,0.238075,...,0.065609,0.059020,0.132717,0.171898,0.070433,0.061716,0.600334,1.000000,0.439240,0.423707
Malham Tarn DRT (t-3),0.333385,0.356624,0.360419,0.332633,0.404731,0.484965,0.434296,0.501684,0.488964,0.306081,...,0.216500,0.165377,0.165653,0.131989,0.258177,0.169313,0.595975,0.439240,1.000000,0.687835
Snaizeholme DRT (t-3),0.385910,0.426056,0.410911,0.367421,0.480728,0.586023,0.502076,0.602280,0.577824,0.364666,...,0.138491,0.205278,0.181782,0.142164,0.190865,0.270922,0.634689,0.423707,0.687835,1.000000

In [224]:
# Dropping rows with null values
lagged_df[lagged_df.isna().any(axis=1)]

,Date,Skelton MDF (Cumecs),Crakehill MDF (t-1),Skip Bridge MDF (t-1),Westwick MDF (t-1),Skelton MDF (t-1),Crakehill MDF (t-2),Skip Bridge MDF (t-2),Westwick MDF (t-2),Skelton MDF (t-2),...,Malham Tarn DRT (t-1),Snaizeholme DRT (t-1),Arkengarthdale DRT (t-2),East Cowton DRT (t-2),Malham Tarn DRT (t-2),Snaizeholme DRT (t-2),Arkengarthdale DRT (t-3),East Cowton DRT (t-3),Malham Tarn DRT (t-3),Snaizeholme DRT (t-3)
0,1993-01-01,26.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-01-02,24.86,10.40,4.393,9.291,26.10,NaN,NaN,NaN,NaN,...,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-01-03,23.60,9.95,4.239,8.622,24.86,10.4,4.393,9.291,26.1,...,0.8,0.0,0.0,0.0,0.0,4.0,NaN,NaN,NaN,NaN

In [225]:
lagged_df.dropna(how="any", inplace=True)
lagged_df[lagged_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Date, Skelton MDF (Cumecs), Crakehill MDF (t-1), Skip Bridge MDF (t-1), Westwick MDF (t-1), Skelton MDF (t-1), Crakehill MDF (t-2), Skip Bridge MDF (t-2), Westwick MDF (t-2), Skelton MDF (t-2), Crakehill MDF (t-3), Skip Bridge MDF (t-3), Westwick MDF (t-3), Skelton MDF (t-3), Arkengarthdale DRT (t-1), East Cowton DRT (t-1), Malham Tarn DRT (t-1), Snaizeholme DRT (t-1), Arkengarthdale DRT (t-2), East Cowton DRT (t-2), Malham Tarn DRT (t-2), Snaizeholme DRT (t-2), Arkengarthdale DRT (t-3), East Cowton DRT (t-3), Malham Tarn DRT (t-3), Snaizeholme DRT (t-3)]
Index: []

[0 rows x 26 columns]

In [226]:
lagged_df.describe()

,Skelton MDF (Cumecs),Crakehill MDF (t-1),Skip Bridge MDF (t-1),Westwick MDF (t-1),Skelton MDF (t-1),Crakehill MDF (t-2),Skip Bridge MDF (t-2),Westwick MDF (t-2),Skelton MDF (t-2),Crakehill MDF (t-3),...,Malham Tarn DRT (t-1),Snaizeholme DRT (t-1),Arkengarthdale DRT (t-2),East Cowton DRT (t-2),Malham Tarn DRT (t-2),Snaizeholme DRT (t-2),Arkengarthdale DRT (t-3),East Cowton DRT (t-3),Malham Tarn DRT (t-3),Snaizeholme DRT (t-3)
count,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,...,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000,1448.000000
mean,47.023622,19.537023,7.606707,21.517077,47.012696,19.532983,7.605369,21.513186,47.006191,19.531809,...,14.010497,9.652486,5.783978,5.295028,14.007182,9.649724,5.781768,5.291713,14.007182,9.651934
std,55.740230,25.272741,10.023280,28.287685,55.743271,25.273807,10.023601,28.289072,55.745308,25.274192,...,25.065902,20.953300,13.274272,12.308373,25.067332,20.954309,13.274969,12.309152,25.067332,20.953544
min,3.694000,2.060000,1.002000,1.954000,3.694000,2.060000,1.002000,1.954000,3.694000,2.060000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.377500,5.215000,2.154500,5.609250,12.377500,5.215000,2.154500,5.609250,12.377500,5.215000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,24.245000,10.050000,3.480500,10.385000,24.230000,10.000000,3.480500,10.354500,24.230000,10.000000,...,1.600000,0.800000,0.800000,0.000000,1.600000,0.800000,0.800000,0.000000,1.600000,0.800000
75%,59.270000,21.800000,8.855250,26.724000,59.270000,21.800000,8.855250,26.724000,59.270000,21.800000,...,18.400000,10.400000,6.400000,5.300000,18.400000,10.400000,6.400000,5.300000,18.400000,10.400000
max,448.100000,220.000000,80.244000,374.061000,448.100000,220.000000,80.244000,374.061000,448.100000,220.000000,...,252.000000,268.800000,225.200000,165.600000,252.000000,268.800000,225.200000,165.600000,252.000000,268.800000

### Moving Averages

In [253]:
moving_avg_df = pd.DataFrame()
moving_avg_df["Date"] = clean_df["Date"]
moving_avg_df[flow_cols[-1]] = clean_df[flow_cols[-1]]
moving_avg_df.head(20)

          Date  Skelton MDF (Cumecs)
0   1993-01-01                 26.10
1   1993-01-02                 24.86
2   1993-01-03                 23.60
3   1993-01-04                 23.47
4   1993-01-05                 60.70
5   1993-01-06                 98.01
6   1993-01-07                 56.99
7   1993-01-08                 56.66
8   1993-01-09                 78.10
9   1993-01-10                125.70
10  1993-01-11                195.90
11  1993-01-12                125.40
12  1993-01-13                161.50
13  1993-01-14                204.00
14  1993-01-15                200.60
15  1993-01-16                234.40
16  1993-01-17                160.10
17  1993-01-18                104.10
18  1993-01-19                136.40
19  1993-01-20                137.10

In [254]:
for i in range(3, 8):
    for col in flow_cols:
        col_name = col.replace("(Cumecs)", f"(MA{i})")
        moving_avg_df[col_name] = clean_df[col].rolling(i).mean()

for i in range(3, 8):
    for col in rain_cols:
        col_name = col.replace("(mm)", f"(MA{i})")
        moving_avg_df[col_name] = clean_df[col].rolling(i).mean()

moving_avg_df.head(20)

,Date,Skelton MDF (Cumecs),Crakehill MDF (MA3),Skip Bridge MDF (MA3),Westwick MDF (MA3),Skelton MDF (MA3),Crakehill MDF (MA4),Skip Bridge MDF (MA4),Westwick MDF (MA4),Skelton MDF (MA4),...,Malham Tarn DRT (MA5),Snaizeholme DRT (MA5),Arkengarthdale DRT (MA6),East Cowton DRT (MA6),Malham Tarn DRT (MA6),Snaizeholme DRT (MA6),Arkengarthdale DRT (MA7),East Cowton DRT (MA7),Malham Tarn DRT (MA7),Snaizeholme DRT (MA7)
0,1993-01-01,26.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-01-02,24.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-01-03,23.60,9.936667,4.252000,8.656667,24.853333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-01-04,23.47,9.606667,4.242000,8.201333,23.976667,9.8050,4.27975,8.47375,24.5075,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-01-05,60.70,15.056667,6.816333,24.895333,35.923333,13.7800,6.17200,20.82700,33.1575,...,7.20,35.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1993-01-06,98.01,22.603333,8.854000,33.681667,60.726667,19.3175,7.67150,27.27550,51.4450,...,7.52,34.72,2.266667,5.066667,6.266667,29.600000,NaN,NaN,NaN,NaN
6,1993-01-07,56.99,25.900000,9.817667,38.461000,71.900000,21.7775,8.45400,30.82700,59.7925,...,10.88,41.92,3.200000,5.733333,9.200000,34.933333,2.742857,4.914286,7.885714,30.514286
7,1993-01-08,56.66,24.466667,8.252333,28.755333,70.553333,24.9250,9.17975,36.24250,68.0900,...,11.04,42.40,3.466667,5.733333,9.333333,35.333333,2.971429,4.914286,8.114286,30.285714
8,1993-01-09,78.10,25.600000,7.557667,37.367667,63.916667,27.2250,8.22750,36.62975,72.4400,...,21.92,51.04,5.866667,5.866667,18.400000,52.800000,5.028571,5.028571,15.885714,45.257143
9,1993-01-10,125.70,36.166667,9.565000,61.263667,86.820000,31.9500,8.98725,51.51350,79.3625,...,30.40,56.16,8.933333,2.133333,30.933333,65.333333,8.000000,5.371429,26.628571,64.800000
10,1993-01-11,195.90,50.666667,15.663333,74.569000,133.233333,43.5000,13.56400,63.32350,114.0900,...,32.48,61.60,8.800000,3.866667,27.333333,51.466667,9.142857,4.114286,28.228571,60.000000
11,1993-01-12,125.40,49.500000,19.850667,67.989333,149.000000,46.0000,16.92625,66.05525,131.2750,...,29.12,59.20,10.000000,4.533333,27.200000,55.333333,8.571429,3.885714,23.542857,47.542857
12,1993-01-13,161.50,53.933333,27.605333,72.256667,160.933333,53.2000,24.02300,77.68025,152.1250,...,45.36,82.32,15.600000,5.333333,38.066667,69.000000,14.171429,5.142857,35.142857,64.285714
13,1993-01-14,204.00,55.133333,28.570667,69.197333,163.633333,57.7250,27.81825,69.27375,171.7000,...,35.92,63.92,16.266667,5.600000,39.133333,70.733333,14.171429,4.800000,33.771429,60.971429
14,1993-01-15,200.60,76.000000,32.919333,103.079000,188.700000,65.0000,29.86825,87.43775,172.8750,...,35.12,50.96,19.866667,7.466667,41.933333,65.266667,19.085714,6.514286,43.828571,70.914286
15,1993-01-16,234.40,87.566667,33.567333,93.307667,213.000000,81.7500,34.31050,96.66900,200.1250,...,34.16,53.36,17.866667,7.466667,30.466667,49.133333,18.285714,6.742857,36.971429,61.657143
16,1993-01-17,160.10,83.933333,31.089000,92.233667,198.366667,80.2250,30.43100,84.25650,199.7750,...,34.00,52.88,17.200000,4.933333,28.466667,48.066667,16.228571,6.514286,26.114286,45.200000
17,1993-01-18,104.10,63.766667,24.899000,59.079667,166.200000,71.4750,27.11450,79.84950,174.8000,...,26.24,49.92,18.800000,4.666667,35.666667,61.266667,17.142857,4.571429,30.685714,55.942857
18,1993-01-19,136.40,50.700000,17.556333,59.609333,133.533333,62.7750,22.78825,64.06675,158.7500,...,31.52,64.64,13.466667,3.200000,27.600000,56.000000,17.142857,4.000000,35.485714,64.857143
19,1993-01-20,137.10,47.300000,16.744667,63.971667,125.866667,50.0250,17.81400,62.25450,134.4250,...,20.96,55.52,13.600000,2.933333,29.466667,58.266667,12.457143,2.742857,26.400000,51.771429

In [255]:
moving_avg_df.corr()

,Skelton MDF (Cumecs),Crakehill MDF (MA3),Skip Bridge MDF (MA3),Westwick MDF (MA3),Skelton MDF (MA3),Crakehill MDF (MA4),Skip Bridge MDF (MA4),Westwick MDF (MA4),Skelton MDF (MA4),Crakehill MDF (MA5),...,Malham Tarn DRT (MA5),Snaizeholme DRT (MA5),Arkengarthdale DRT (MA6),East Cowton DRT (MA6),Malham Tarn DRT (MA6),Snaizeholme DRT (MA6),Arkengarthdale DRT (MA7),East Cowton DRT (MA7),Malham Tarn DRT (MA7),Snaizeholme DRT (MA7)
Skelton MDF (Cumecs),1.000000,0.938738,0.914594,0.949677,0.929391,0.904795,0.881894,0.922418,0.893389,0.874747,...,0.593746,0.690495,0.603329,0.413266,0.591107,0.693164,0.599033,0.412839,0.588475,0.695555
Crakehill MDF (MA3),0.938738,1.000000,0.950469,0.949160,0.982764,0.981097,0.933412,0.954153,0.954356,0.948594,...,0.565631,0.668877,0.606963,0.443224,0.569525,0.675134,0.600626,0.442991,0.566959,0.678565
Skip Bridge MDF (MA3),0.914594,0.950469,1.000000,0.917204,0.964027,0.942131,0.984918,0.929325,0.944836,0.919828,...,0.552858,0.623684,0.628179,0.413850,0.565639,0.640302,0.626908,0.412714,0.571864,0.652073
Westwick MDF (MA3),0.949677,0.949160,0.917204,1.000000,0.952057,0.919614,0.890707,0.976818,0.917270,0.889173,...,0.650361,0.741363,0.621496,0.380418,0.646721,0.741301,0.614665,0.385091,0.639734,0.739875
Skelton MDF (MA3),0.929391,0.982764,0.964027,0.952057,1.000000,0.984274,0.962192,0.974207,0.987378,0.966673,...,0.585141,0.683508,0.615161,0.406951,0.599004,0.700393,0.616254,0.411281,0.604288,0.710965
Crakehill MDF (MA4),0.904795,0.981097,0.942131,0.919614,0.984274,1.000000,0.954259,0.956906,0.985032,0.986174,...,0.548924,0.655990,0.608214,0.433060,0.567151,0.677195,0.609580,0.439739,0.572173,0.686348
Skip Bridge MDF (MA4),0.881894,0.933412,0.984918,0.890707,0.962192,0.954259,1.000000,0.928832,0.967195,0.948292,...,0.533751,0.606885,0.621442,0.402606,0.558722,0.635438,0.629137,0.408651,0.572193,0.653145
Westwick MDF (MA4),0.922418,0.954153,0.929325,0.976818,0.974207,0.956906,0.928832,1.000000,0.963056,0.935725,...,0.646111,0.741925,0.634039,0.377911,0.653690,0.750984,0.630628,0.385298,0.652950,0.753843
Skelton MDF (MA4),0.893389,0.954356,0.944836,0.917270,0.987378,0.985032,0.967195,0.963056,1.000000,0.986461,...,0.559852,0.660197,0.606439,0.390913,0.588233,0.692538,0.616661,0.402705,0.601889,0.710214
Crakehill MDF (MA5),0.874747,0.948594,0.919828,0.889173,0.966673,0.986174,0.948292,0.935725,0.986461,1.000000,...,0.512522,0.620434,0.593858,0.411721,0.552462,0.666047,0.608434,0.428696,0.568862,0.686776
Skip Bridge MDF (MA5),0.854121,0.904624,0.957457,0.862689,0.944211,0.941648,0.988841,0.909051,0.966015,0.957333,...,0.500396,0.574983,0.599595,0.380843,0.541233,0.620401,0.620872,0.397139,0.564369,0.647467
Westwick MDF (MA5),0.895816,0.930742,0.916825,0.943241,0.965844,0.958716,0.936414,0.983675,0.977925,0.961441,...,0.616101,0.712544,0.631387,0.366167,0.646680,0.747958,0.636844,0.379003,0.655179,0.758595
Skelton MDF (MA5),0.863761,0.920213,0.918671,0.885106,0.963827,0.963526,0.952814,0.936805,0.990655,0.986558,...,0.520151,0.620827,0.583940,0.364593,0.566641,0.672845,0.607534,0.387113,0.591687,0.702437
Crakehill MDF (MA6),0.849270,0.916530,0.895866,0.861666,0.944894,0.960571,0.931199,0.911245,0.973130,0.989298,...,0.475479,0.585307,0.559905,0.372740,0.522488,0.636588,0.595683,0.409062,0.555993,0.676322
Skip Bridge MDF (MA6),0.829384,0.875991,0.929274,0.836462,0.922881,0.918445,0.967082,0.885475,0.951938,0.947129,...,0.465168,0.542711,0.563663,0.345426,0.513060,0.593383,0.601610,0.376766,0.548721,0.633665
Westwick MDF (MA6),0.870326,0.903573,0.898868,0.912944,0.949266,0.940203,0.926963,0.957308,0.971697,0.962217,...,0.571844,0.668552,0.608339,0.340972,0.620898,0.722530,0.632373,0.366096,0.647574,0.753879
Skelton MDF (MA6),0.838576,0.888447,0.893077,0.856584,0.939329,0.935719,0.931853,0.909837,0.972034,0.969281,...,0.483170,0.585616,0.547075,0.325665,0.533266,0.639377,0.587511,0.362957,0.572634,0.684421
Crakehill MDF (MA7),0.827447,0.887133,0.873725,0.837098,0.923202,0.933749,0.911624,0.888011,0.955404,0.968473,...,0.445585,0.556817,0.522508,0.330403,0.491429,0.605830,0.566215,0.374651,0.530997,0.650806
Skip Bridge MDF (MA7),0.807569,0.849170,0.902908,0.812207,0.901553,0.893924,0.943481,0.862666,0.934053,0.927790,...,0.437888,0.517585,0.523516,0.305078,0.483541,0.564921,0.570357,0.345428,0.525029,0.609887
Westwick MDF (MA7),0.846264,0.876262,0.879064,0.884360,0.929815,0.916956,0.911714,0.931742,0.957578,0.946534,...,0.536304,0.634243,0.571562,0.305128,0.584155,0.685088,0.611822,0.342892,0.625663,0.731646
Skelton MDF (MA7),0.816398,0.859752,0.869797,0.831386,0.916187,0.908327,0.910175,0.884898,0.951464,0.946022,...,0.453416,0.556850,0.510315,0.287047,0.501724,0.607977,0.555246,0.328491,0.544431,0.655311
Arkengarthdale DRT (MA3),0.582055,0.498690,0.502711,0.569159,0.471078,0.437843,0.439213,0.506512,0.417054,0.395128,...,0.543130,0.557123,0.794123,0.478948,0.521618,0.544459,0.755616,0.464388,0.502925,0.534447
East Cowton DRT (MA3),0.394725,0.345048,0.324276,0.331553,0.289152,0.278752,0.261441,0.274728,0.233287,0.231461,...,0.376987,0.356025,0.470384,0.754539,0.344331,0.330900,0.438866,0.710700,0.321364,0.315014
Malham Tarn DRT (MA3),0.561103,0.467053,0.450614,0.585285,0.463505,0.414267,0.402393,0.520076,0.413991,0.376004,...,0.867937,0.602143,0.477444,0.364518,0.818479,0.571363,0.450404,0.344987,0.780291,0.540292
Snaizeholme DRT (MA3),0.661422,0.564442,0.516674,0.679665,0.553459,0.510809,0.469308,0.609444,0.504222,0.475875,...,0.603634,0.877022,0.489999,0.337385,0.571285,0.836652,0.473236,0.329108,0.545033,0.801050
Arkengarthdale DRT (MA4),0.607586,0.581630,0.584758,0.619560,0.562110,0.530524,0.534157,0.589713,0.509369,0.479089,...,0.588401,0.599332,0.887020,0.536008,0.570923,0.585157,0.840606,0.513380,0.552726,0.576089
East Cowton DRT (MA4),0.414861,0.416320,0.386808,0.369187,0.362999,0.361375,0.338458,0.338527,0.309762,0.305160,...,0.427243,0.398881,0.535525,0.859322,0.395393,0.371293,0.495100,0.803490,0.367499,0.350486
Malham Tarn DRT (MA4),0.587299,0.539419,0.520030,0.639500,0.545897,0.494338,0.480450,0.604723,0.497273,0.450261,...,0.948282,0.655786,0.537706,0.403460,0.901938,0.624843,0.507835,0.384130,0.859525,0.595154
Snaizeholme DRT (MA4),0.684043,0.643976,0.590884,0.735307,0.643642,0.598110,0.551457,0.699634,0.594133,0.555079,...,0.656115,0.951808,0.548018,0.371514,0.626766,0.909787,0.521842,0.357020,0.596761,0.873907
Arkengarthdale DRT (MA5),0.610080,0.607647,0.620359,0.626972,0.603988,0.591821,0.596399,0.628603,0.578121,0.550353,...,0.614775,0.625178,0.955898,0.585306,0.602818,0.617006,0.911700,0.558790,0.589275,0.608077
East Cowton DRT (MA5),0.415942,0.437361,0.408291,0.376673,0.394369,0.414233,0.384059,0.366967,0.364736,0.368530,...,0.453186,0.420027,0.582141,0.942371,0.429647,0.402012,0.544319,0.885509,0.403675,0.380311
Malham Tarn DRT (MA5),0.593746,0.565631,0.552858,0.650361,0.585141,0.548924,0.533751,0.646111,0.559852,0.512522,...,1.000000,0.690343,0.583934,0.432570,0.961248,0.665211,0.555874,0.414783,0.923219,0.637308
Snaizeholme DRT (MA5),0.690495,0.668877,0.623684,0.741363,0.683508,0.655990,0.606885,0.741925,0.660197,0.620434,...,0.690343,1.000000,0.594452,0.400346,0.664180,0.963974,0.568569,0.386030,0.638118,0.929078
Arkengarthdale DRT (MA6),0.603329,0.606963,0.628179,0.621496,0.615161,0.608214,0.621442,0.634039,0.606439,0.593858,...,0.583934,0.594452,1.000000,0.613182,0.620333,0.634736,0.964800,0.593284,0.611810,0.630940
East Cowton DRT (MA6),0.413266,0.443224,0.413850,0.380418,0.406951,0.433060,0.402606,0.377911,0.390913,0.411721,...,0.432570,0.400346,0.613182,1.000000,0.451020,0.421184,0.585485,0.952714,0.432221,0.407369
Malham Tarn DRT (MA6),0.591107,0.569525,0.565639,0.646721,0.599004,0.567151,0.558722,0.653690,0.588233,0.552462,...,0.961248,0.664180,0.620333,0.451020,1.000000,0.689192,0.592889,0.435136,0.969007,0.667154
Snaizeholme DRT (MA6),0.693164,0.675134,0.640302,0.741301,0.700393,0.677195,0.635438,0.750984,0.692538,0.666047,...,0.665211,0.963974,0.634736,0.421184,0.689192,1.000000,0.608308,0.407380,0.666826,0.971202
Arkengarthdale DRT (MA7),0.599033,0.600626,0.626908,0.614665,0.616254,0.609580,0.629137,0.630628,0.616661,0.608434,...,0.555874,0.568569,0.964800,0.585485,0.592889,0.608308,1.000000,0.614457,0.623216,0.643051
East Cowton DRT (MA7),0.412839,0.442991,0.412714,0.385091,0.411281,0.439739,0.408651,0.385298,0.402705,0.428696,...,0.414783,0.386030,0.593284,0.952714,0.435136,0.407380,0.614457,1.000000,0.450200,0.424540
Malham Tarn DRT (MA7),0.588475,0.566959,0.571864,0.639734,0.604288,0.572173,0.572193,0.652950,0.601889,0.568862,...,0.923219,0.638118,0.611810,0.432221,0.969007,0.666826,0.623216,0.450200,1.000000,0.685211
Snaizeholme DRT (MA7),0.695555,0.678565,0.652073,0.739875,0.710965,0.686348,0.653145,0.753843,0.710214,0.686776,...,0.637308,0.929078,0.630940,0.407369,0.667154,0.971202,0.643051,0.424540,0.685211,1.000000

In [259]:
# Dropping rows with null values
moving_avg_df[moving_avg_df.isna().any(axis=1)]

,Date,Skelton MDF (Cumecs),Crakehill MDF (MA3),Skip Bridge MDF (MA3),Westwick MDF (MA3),Skelton MDF (MA3),Crakehill MDF (MA4),Skip Bridge MDF (MA4),Westwick MDF (MA4),Skelton MDF (MA4),...,Malham Tarn DRT (MA5),Snaizeholme DRT (MA5),Arkengarthdale DRT (MA6),East Cowton DRT (MA6),Malham Tarn DRT (MA6),Snaizeholme DRT (MA6),Arkengarthdale DRT (MA7),East Cowton DRT (MA7),Malham Tarn DRT (MA7),Snaizeholme DRT (MA7)
0,1993-01-01,26.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-01-02,24.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-01-03,23.60,9.936667,4.252000,8.656667,24.853333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-01-04,23.47,9.606667,4.242000,8.201333,23.976667,9.8050,4.27975,8.47375,24.5075,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-01-05,60.70,15.056667,6.816333,24.895333,35.923333,13.7800,6.17200,20.82700,33.1575,...,7.20,35.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1993-01-06,98.01,22.603333,8.854000,33.681667,60.726667,19.3175,7.67150,27.27550,51.4450,...,7.52,34.72,2.266667,5.066667,6.266667,29.6,NaN,NaN,NaN,NaN

In [261]:
moving_avg_df.dropna(how="any", inplace=True)
moving_avg_df[moving_avg_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Date, Skelton MDF (Cumecs), Crakehill MDF (MA3), Skip Bridge MDF (MA3), Westwick MDF (MA3), Skelton MDF (MA3), Crakehill MDF (MA4), Skip Bridge MDF (MA4), Westwick MDF (MA4), Skelton MDF (MA4), Crakehill MDF (MA5), Skip Bridge MDF (MA5), Westwick MDF (MA5), Skelton MDF (MA5), Crakehill MDF (MA6), Skip Bridge MDF (MA6), Westwick MDF (MA6), Skelton MDF (MA6), Crakehill MDF (MA7), Skip Bridge MDF (MA7), Westwick MDF (MA7), Skelton MDF (MA7), Arkengarthdale DRT (MA3), East Cowton DRT (MA3), Malham Tarn DRT (MA3), Snaizeholme DRT (MA3), Arkengarthdale DRT (MA4), East Cowton DRT (MA4), Malham Tarn DRT (MA4), Snaizeholme DRT (MA4), Arkengarthdale DRT (MA5), East Cowton DRT (MA5), Malham Tarn DRT (MA5), Snaizeholme DRT (MA5), Arkengarthdale DRT (MA6), East Cowton DRT (MA6), Malham Tarn DRT (MA6), Snaizeholme DRT (MA6), Arkengarthdale DRT (MA7), East Cowton DRT (MA7), Malham Tarn DRT (MA7), Snaizeholme DRT (MA7)]
Index: []

[0 rows x 42 columns]

### Exporting Datasets

In [263]:
moving_avg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1445 entries, 6 to 1450
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      1445 non-null   object
 1   Skelton MDF (Cumecs)      1445 non-null   float64
 2   Crakehill MDF (MA3)       1445 non-null   float64
 3   Skip Bridge MDF (MA3)     1445 non-null   float64
 4   Westwick MDF (MA3)        1445 non-null   float64
 5   Skelton MDF (MA3)         1445 non-null   float64
 6   Crakehill MDF (MA4)       1445 non-null   float64
 7   Skip Bridge MDF (MA4)     1445 non-null   float64
 8   Westwick MDF (MA4)        1445 non-null   float64
 9   Skelton MDF (MA4)         1445 non-null   float64
 10  Crakehill MDF (MA5)       1445 non-null   float64
 11  Skip Bridge MDF (MA5)     1445 non-null   float64
 12  Westwick MDF (MA5)        1445 non-null   float64
 13  Skelton MDF (MA5)         1445 non-null   float64
 14  Crakehill MDF (MA6)       1445 non-null   float64
 15  Skip Bridge MDF (MA6)     1445 non-null   float64
 16  Westwick MDF (MA6)        1445 non-null   float64
 17  Skelton MDF (MA6)         1445 non-null   float64
 18  Crakehill MDF (MA7)       1445 non-null   float64
 19  Skip Bridge MDF (MA7)     1445 non-null   float64
 20  Westwick MDF (MA7)        1445 non-null   float64
 21  Skelton MDF (MA7)         1445 non-null   float64
 22  Arkengarthdale DRT (MA3)  1445 non-null   float64
 23  East Cowton DRT (MA3)     1445 non-null   float64
 24  Malham Tarn DRT (MA3)     1445 non-null   float64
 25  Snaizeholme DRT (MA3)     1445 non-null   float64
 26  Arkengarthdale DRT (MA4)  1445 non-null   float64
 27  East Cowton DRT (MA4)     1445 non-null   float64
 28  Malham Tarn DRT (MA4)     1445 non-null   float64
 29  Snaizeholme DRT (MA4)     1445 non-null   float64
 30  Arkengarthdale DRT (MA5)  1445 non-null   float64
 31  East Cowton DRT (MA5)     1445 non-null   float64
 32  Malham Tarn DRT (MA5)     1445 non-null   float64
 33  Snaizeholme DRT (MA5)     1445 non-null   float64
 34  Arkengarthdale DRT (MA6)  1445 non-null   float64
 35  East Cowton DRT (MA6)     1445 non-null   float64
 36  Malham Tarn DRT (MA6)     1445 non-null   float64
 37  Snaizeholme DRT (MA6)     1445 non-null   float64
 38  Arkengarthdale DRT (MA7)  1445 non-null   float64
 39  East Cowton DRT (MA7)     1445 non-null   float64
 40  Malham Tarn DRT (MA7)     1445 non-null   float64
 41  Snaizeholme DRT (MA7)     1445 non-null   float64
dtypes: float64(41), object(1)
memory usage: 485.4+ KB